body {
  background-color: #36465d;
}

.wrapper {
  color: #444;
  font-size: 14px;

}

.inner {
  margin:0 auto;
  width:500px;
}

h1 {
  color:#fff;
  margin:0;
  width: 200px;
  position: absolute;
}

/*.title-inner p {
  color: #fff;

}*/

.title {
  top:0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #36465d;
  box-shadow: 0 1px 0 #eee;
}

.title-inner {
  margin:0 auto;
  width: 920px;
}

form {
  margin: 20px 0;
  width: 300px;
  position: relative;
  left: 180px;
}

input {
  margin: 5px 0;
  font-size: 14px;
}

h2 {
  margin: 10px 0;
  color: #ddd;
}

.contents {
  padding-top: 130px;
}


.image {
  width: 500px;
  height: 500px;
  text-align: center;
  /*float: left;*/
  background-color: #fff;
  margin: 20px 10px 0;
  box-shadow: 2px 1px 2px #26313f;
  border-radius: 7px;
}

.image img {
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
}

.tools a {
  text-decoration: none;
  color: #999;
}

.tools a:hover {
  text-decoration: underline;
}
/*
.star {
  color: #ffd660;
  font-size: 18px;
}

.add-star:before {
  content: "★";
  cursor: pointer;
}
*/

.star-container li{
    list-style: none;
    width: 15px;
    float: left;
    color:#ffd660;
    margin-right: 2px;
    font-size: 14px;
}

.container input {
  padding: 5px;
  width: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
